In [ ]:
import pandas as pd

### Suavização de dados

Ao usar a suavização, é necessário pensar diversos aspectos:
* **Preparação dos dados :**
    * Sabendo que os valores muitos altos são improvaveis ou não físicos, porém é necessario um procedimento embasado para lidar com eles(suavização)

* **Geração de caracteristicas**

* **Predição :**
    * a forma mais simples de predição para alguns tipos de processos é a reversão á média, que voce obtém ao fazer predições a partir de uma caracteristicas suavizada.

&nbsp;

Voce precisa suavizar em um modelo de produção em tempo real? Se sim escolha um método de suavização sem lookhead

In [2]:
import pandas as pd

In [5]:
air = pd.read_csv("datasets/passengers/AirPassengers.csv")
air.head(10)

      date  passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121
5  1949-06         135
6  1949-07         148
7  1949-08         148
8  1949-09         136
9  1949-10         119

In [10]:
air['smoth.5'] = pd.Series(air['passengers']).ewm( alpha=0.5).mean()

In [11]:
air['smoth.9'] = pd.Series(air['passengers']).ewm( alpha=0.9).mean()

In [12]:
air

        date  passengers     smoth.5     smoth.9
0    1949-01         112  112.000000  112.000000
1    1949-02         118  116.000000  117.454545
2    1949-03         132  125.142857  130.558559
3    1949-04         129  127.200000  129.155716
4    1949-05         121  124.000000  121.815498
..       ...         ...         ...         ...
139  1960-08         606  582.096411  606.665454
140  1960-09         508  545.048205  517.866545
141  1960-10         461  503.024103  466.686655
142  1960-11         390  446.512051  397.668665
143  1960-12         432  439.256026  428.566867

[144 rows x 4 columns]

> Para dados de tendencia a longo prazo não apresenta um bom desempenho